
body {
    margin: 0;
}


.logo {
    width: 50%;
}

.content-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}




/* Arrow*/
a {
    color: black;
    text-decoration: none;
}

.arrow-top-space {
    padding-top: 160px;
}

.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

@media (min-width: 576px) {
    .arrow-top-space {
        padding-top: 160px;
    }
}

@media (min-width: 768px) {
    .arrow-top-space {
        padding-top: 300px;
    }
}
/* End of arrow*/